django
djangorestframework
markdown
django-filter
psycopg2-binary
openai
uvicorn
pillow
drf-spectacular               # for OpenAPI schema generation
djangorestframework-simplejwt # for Json Web Token authentication